<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/normalize.css">
	<link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="../stylesheets/icomoon.css">
	<link rel="stylesheet" href="../stylesheets/scrollbar.css">
    <link rel="stylesheet" href="../stylesheets/datatables.css">
	<link rel="stylesheet" href="../stylesheets/transitions.css">
	<link rel="stylesheet" href="../stylesheets/main.css">
	<link rel="stylesheet" href="../stylesheets/color.css">
	<link rel="stylesheet" href="../stylesheets/responsive.css">
	<script src="../javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="wp-wrapper" class="wp-wrapper">
		<!--************************************
				Header Start
		*************************************-->
		<header id="wp-dbdashboardheader" class="wp-dbdashboardheader">
			<strong class="wp-logo"><a href="/admin/dashboard"><img src="../../images/logo.png" alt="image description"></a></strong>
			<div class="wp-leftarea">
				<div class="wp-pagetitleholder">
					<a id="wp-closenav" class="wp-closenav" href="javascript:(0);"><i class="icon-menu"></i></a>
					<div class="wp-pagetitle">
						<h1>Popular Games</h1>
					</div>
				</div>
			</div>
			<div class="wp-rightarea">
				<div class="wp-notiuser">
					<div class="wp-notifications">
						<button class="wp-btndropdown wp-themedropdown dropdown" id="wp-notificationdropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-bell-o"></i>
						</button>
						<ul class="dropdown-menu wp-dropdownmenu wp-notidropdown" aria-labelledby="wp-notificationdropdown">
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
						</ul>
					</div>
					<div class="wp-userimgholder wp-themedropdown dropdown">
						<button class="wp-btndropdown" id="wp-usermenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="<%= undefined === user || undefined === user.photoId ? '../../images/user-img.jpg' : `/uploads/${user.photoId.fileName}` %>">
						</button>
						<ul class="dropdown-menu wp-dropdownmenu" aria-labelledby="wp-usermenu">
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
							<li><p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wp-searchformarea">
				<form class="wp-formtheme wp-searchform">
					<fieldset>
						<div class="form-group wp-inputwithicon">
							<i class="icon-magnifier"></i>
							<input type="search" name="search" class="form-control" placeholder="Search for anything">
						</div>
					</fieldset>
				</form>
			</div>
			<div id="wp-sidebarwrapper" class="wp-sidebarwrapper">
				<div class="wp-verticalscrollbar" id="wp-verticalscrollbar">
					<div class="wp-adminarea">
						<figure class="wp-adminimg">
							<img src="<%= undefined === user || undefined === user.photoId ? '../../images/user-img.jpg' : `/uploads/${user.photoId.fileName}` %>">
							
						</figure>
						<div class="wp-adminname">
							<% if(user.firstName) {%>
								<h3><%= user.firstName + ' ' + user.lastName %></h3>
								   <% } else { %>
									 <h3> <%= user.username %></h3>
									   <% } %>
			   
									   
									   <% if(user.city && user.state) {%>
										 <span><%= user.city + ' , ' + user.state %></span>
											<% } else { %>
											 <span> Add Address</span>
												<% } %>
						</div>
						<span class="wp-totalstars">
							<i class="fa fa-star"></i>
							<em>54082</em>
						</span>
					</div>
					<nav id="wp-dashboardnav" class="wp-dashboardnav">
						<ul>
							<li><a href="/admin/dashboard"><i class="fa fa-tachometer"></i><span>home</span></a></li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-gamepad "></i><span>latest winners</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/winnerList">Winners List</a></li>
									<li><a href="/admin/addWinner">Add Winner</a></li>
								</ul>
							</li>
							<li><a href="/admin/featuredGames"><i class="fa fa-tag"></i><span>featured games</span></a></li>
							<li class="wp-active"><a href="javascript:(0);"><i class="fa fa-user"></i><span>Popular Games</span></a></li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-support"></i><span>Users</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/usersList">Users List</a></li>
									<li><a href="/admin/addUser">Add Users</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-tag"></i><span>Sponsers</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/sponsersList">Sponsers List</a></li>
									<li><a href="/admin/addSponser">Add Sponser</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-user"></i><span>Questions</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/questions">Questions</a></li>
									<li><a href="/admin/addQuestion">Add New</a></li>
									<li><a href="/admin/loadBulk">Load In Bulk</a></li>
								</ul>
							</li>
							<li><a href="/admin/createGame"><i class="fa fa-support"></i><span>Create Game</span></a></li>
							<li><a href="/admin/profile"><i class="fa fa-support"></i><span>PROFILE</span></a></li>

						</ul>
					</nav>
					<div class="wp-bottomarea">
						<a class="wp-btnsetting" href="javascript:(0);"><i class="icon-cog"></i></a>
						<form action="/logout" method="GET">
							<button class="wp-btnlogout"><i class="icon-power-switch"></i></button>
							</form>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="wp-main" class="wp-main wp-haslayout">
			<div class="wp-dbsectionspace wp-haslayout">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="wp-dbbox wp-populargames">
							<div class="wp-dbboxtittle">
								<h3>popular Games</h3>
							</div>
							<div class="wp-dbboxcontent">
								<div class="wp-gamesholder">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-01.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-05.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>Low 2 High</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-02.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-06.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>pricing game</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-03.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-07.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>That's nor right</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-04.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-05.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>tag sale</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-01.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-05.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>Low 2 High</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-02.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-06.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>pricing game</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-03.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-07.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>That's nor right</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-04.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-05.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>tag sale</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-01.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-05.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>Low 2 High</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-02.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-06.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>pricing game</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-03.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-07.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>That's nor right</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="wp-game">
											<div class="wp-gameimgsponser">
												<figure class="wp-gameimg">
													<img src="../../images/games/img-04.jpg" alt="image description">
												</figure>
												<div class="wp-sponser">
													<span>sponsored by</span>
													<figure class="wp-sponserimg">
														<img src="../../images/games/img-05.jpg" alt="image description">
													</figure>
												</div>
											</div>
											<div class="wp-gamecontent">
												<div class="wp-gamename">
													<h4>tag sale</h4>
													<span class="wp-gameprize">$100<em>gift card</em></span>
												</div>
												<div class="wp-playersonline">
													<figure class="wp-playerimg">
														<img src="../../images/player-img.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img2.png" alt="image description">
													</figure>
													<figure class="wp-playerimg">
														<img src="../../images/player-img3.png" alt="image description">
													</figure>
													<span class="wp-moreplayer">+22</span>
													<span class="wp-playeinggames">25 poeple playing</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="wp-footer" class="wp-footer wp-haslayout">
			<p class="wp-copyright">© 2018 Winippity</p>
			<nav class="wp-addnav">
				<ul>
					<li><a href="javascript:(0);">terms &amp; condition</a></li>
					<li><a href="javascript:(0);">privacy policy</a></li>
					<li><a href="javascript:(0);">contact us</a></li>
					<li><a href="javascript:(0);">advertise</a></li>
				</ul>
			</nav>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	
	<script src="../javascripts/vendor/jquery-library.js"></script>
	<script src="../javascripts/vendor/bootstrap.min.js"></script>
	<script src="js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci"></script>
	<script src="../javascripts/scrollbar.min.js"></script>
	<script src="../javascripts/datatables.js"></script>
	<script src="../javascripts/chart.min.js"></script>
	<script src="../javascripts/countto.js"></script>
	<script src="../javascripts/appear.js"></script>
	<script src="../javascripts/main.js"></script>
</body>
</html>