<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BootStrap HTML5 CSS3 Theme</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/icomoon.css">
  <link rel="stylesheet" href="../stylesheets/scrollbar.css">
  <link rel="stylesheet" href="../stylesheets/datatables.css">
  <link rel="stylesheet" href="../stylesheets/transitions.css">
  <link rel="stylesheet" href="../stylesheets/main.css">
  <link rel="stylesheet" href="../stylesheets/color.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
  <script src="../javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
  <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
  <!--************************************
			Wrapper Start
	*************************************-->
  <div id="wp-wrapper" class="wp-wrapper">
    <!--************************************
				Header Start
		*************************************-->
    <header id="wp-dbdashboardheader" class="wp-dbdashboardheader">
      <strong class="wp-logo">
        <a href="/admin/dashboard">
          <img src="../../images/logo.png" alt="image description">
        </a>
      </strong>
      <div class="wp-leftarea">
        <div class="wp-pagetitleholder">
          <a id="wp-closenav" class="wp-closenav" href="javascript:(0);">
            <i class="icon-menu"></i>
          </a>
          <div class="wp-pagetitle">
            <h1>profile</h1>
          </div>
        </div>
      </div>
      <div class="wp-rightarea">
        <div class="wp-notiuser">
          <div class="wp-notifications">
            <button class="wp-btndropdown wp-themedropdown dropdown" id="wp-notificationdropdown" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell-o"></i>
            </button>
            <ul class="dropdown-menu wp-dropdownmenu wp-notidropdown" aria-labelledby="wp-notificationdropdown">
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
            </ul>
          </div>
          <div class="wp-userimgholder wp-themedropdown dropdown">
            <button class="wp-btndropdown" id="wp-usermenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="../../images/user-img.jpg" alt="image description">
            </button>
            <ul class="dropdown-menu wp-dropdownmenu" aria-labelledby="wp-usermenu">
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
              <li>
                <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="wp-searchformarea">
        <form class="wp-formtheme wp-searchform">
          <fieldset>
            <div class="form-group wp-inputwithicon">
              <i class="icon-magnifier"></i>
              <input type="search" name="search" class="form-control" placeholder="Search for anything">
            </div>
          </fieldset>
        </form>
      </div>
      <div id="wp-sidebarwrapper" class="wp-sidebarwrapper wp-usersidebarwrapper">
        <div class="wp-verticalscrollbar" id="wp-verticalscrollbar">
          <div class="wp-adminarea">
            <figure class="wp-adminimg">
              <img src="../../images/admin-pic.jpg" alt="image description">
            </figure>
            <div class="wp-adminname">
              <% if(user.firstName) {%>
                 <h3><%= user.firstName + ' ' + user.lastName %></h3>
                    <% } else { %>
                      <h3> <%= user.username %></h3>
                        <% } %>

                        
                        <% if(user.city && user.state) {%>
                          <span><%= user.city + ',' + user.country %></span>
                             <% } else { %>
                              <span> Add Address</span>
                                 <% } %>
            </div>
            <span class="wp-totalstars">
              <i class="fa fa-star"></i>
              <em>54082</em>
            </span>
          </div>
          <nav id="wp-dashboardnav" class="wp-dashboardnav">
            <ul>
                    <ul>
							<li class="wp-active"><a href="/admin/dashboard"><i class="fa fa-tachometer"></i><span>home</span></a></li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-gamepad "></i><span>latest winners</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/winnerList">Winners List</a></li>
									<li><a href="/admin/addWinner">Add Winner</a></li>
								</ul>
							</li>
							<li><a href="/admin/featuredGames"><i class="fa fa-tag"></i><span>featured games</span></a></li>
							<li><a href="/admin/popularGames"><i class="fa fa-user"></i><span>Popular Games</span></a></li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-support"></i><span>Users</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/usersList">Users List</a></li>
									<li><a href="/admin/addUser">Add Users</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-tag"></i><span>Sponsers</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/sponsersList">Sponsers List</a></li>
									<li><a href="/admin/addSponser">Add Sponser</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="javascript:(0);"><i class="fa fa-user"></i><span>Questions</span></a>
								<ul class="sub-menu">
									<li><a href="/admin/questions">Questions</a></li>
									<li><a href="/admin/addQuestion">Add New</a></li>
									<li><a href="/admin/loadBulk">Load In Bulk</a></li>
								</ul>
							</li>
							<li><a href="/admin/createGame"><i class="fa fa-support"></i><span>Create Game</span></a></li>
							<li><a href="javascript:(0);"><i class="fa fa-support"></i><span>PROFILE</span></a></li>
						</ul>
            </ul>
          </nav>
          <div class="wp-bottomarea">
            <a class="wp-btnsetting" href="javascript:(0);">
              <i class="icon-cog"></i>
            </a>
            <form action="/logout" method="GET">
              <button class="wp-btnlogout"><i class="icon-power-switch"></i></button>
              </form>
          </div>
        </div>
      </div>
    </header>
    <!--************************************
				Header End
		*************************************-->
    <!--************************************
				Main Start
		*************************************-->
    <main id="wp-main" class="wp-main wp-haslayout">
      <div class="wp-dbsectionspace wp-haslayout wp-userprofileholder">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="wp-dbbox wp-userdetail">
              <figure class="wp-userdbimg">
                <img src="<%= user.photoId ? `../../uploads/${user.photoId.fileName}` : '../../images/user-dashboard-img.jpg' %>" alt="image description">
                
                    <form enctype="multipart/form-data" action="/admin/profile/uploadImage" method="post" class="at-formeiditpics">
                      <label class="editpic" for="image-file">
                          <i class="fa fa-pencil"></i>
                          <input id="image-file" type="file" name="profilePhoto" accept="image/x-png,image/jpg,image/jpeg" single="single" />
                        </label>
                      <button type="submit">update profile pic</button>
                    </form>
               
              </figure>
              
              <div class="wp-username">
                  <% if(user.firstName) {%>
                    <h3><%= user.firstName + ' ' + user.lastName %></h3>
                       <% } else { %>
                         <h3> <%= user.username %></h3>
                           <% } %>
                           <% if(user) {%>
                            <span><%= user.city + ' ' + user.country %></span>
                               <% } else { %>
                                 <span> add address</span>
                                   <% } %>
              </div>
              <ul class="wp-totalprizeswins">
                <li>
                  <div class="wp-states wp-statesgameswin">
                    <figure class="wp-gamepadimg">
                      <img src="../../images/user-dashboard/gamepad-icon.png" alt="image description">
                    </figure>
                    <span class="wp-totalgeamplay">134
                      <em>games played</em>
                    </span>
                  </div>
                </li>
                <li>
                  <div class="wp-states wp-totalprizeswon">
                    <figure class="wp-gamepadimg">
                      <img src="../../images/user-dashboard/ribbon-icon.png" alt="image description">
                    </figure>
                    <span class="wp-totalgeamplay">44
                      <em>games won</em>
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="wp-usercontactinfo">
                <li>
                  <span>email</span>
                  <a href="javascript:(0);"><%=  user.email %></a>
                </li>
                <li>
                  <span>address</span>
                  <address>346, Block L, Sitevisit Road, Avenue Park</address>
                </li>
                <li>
                  <span>member since</span>
                  <time datetime="2018-12-12">jan 14, 2018</time>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <div class="wp-dbbox wp-updateprofile">
              <div class="wp-dbboxtittle">
                <h3>Update your profile</h3>
              </div>
              <div class="wp-dbboxcontent">
                <div class="wp-formtheme wp-formupdateprofile">
                  <fieldset>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" id="firstName" name="firstname" class="form-control" value="<%= undefined === user.firstName ? '' : user.firstName %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" id="lastName" name="lastname" class="form-control" value="<%= undefined === user.lastName ? '' : user.lastName %>" >
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email"  id="email" name="youremail" class="form-control"  value="<%= undefined === user.email ? '' : user.email %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Phone</label>
                          <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"  value="<%= undefined === user.phoneNumber ? '' : user.phoneNumber %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>House Address</label>
                          <input type="text" id="address" name="youraddress" class="form-control" value="<%= undefined === user.address ? '' : user.address %>" >
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Street Address</label>
                          <input type="text" id="streetAddress" name="yourstreetaddress" class="form-control"  value="<%= undefined === user.streetAddress ? '' : user.streetAddress %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Country</label>
                          <input type="text"  id="country" name="country" class="form-control" value="<%= undefined === user.country ? '' : user.country %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>City</label>
                          <input type="text"  id="city" name="city" class="form-control" value="<%= undefined === user.city ? '' : user.city %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>State</label>
                          <input type="text" id="state" name="state" class="form-control" value="<%= undefined === user.state ? '' : user.state %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Zipcode</label>
                          <input type="number"  id="zipcode" name="zipcode" class="form-control"  value="<%= undefined === user.zipcode ? '' : user.zipcode %>">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <button class="wp-btn" onclick="updateAdminProfile()">update profile</button>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wp-dbsectionspace wp-haslayout">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="wp-dbbox">
              <div class="wp-dbboxtittle">
                <h3>Your gift cards</h3>
              </div>
              <div class="wp-dbboxcontent">
                <table id="example" class="display nowrap wp-playerstatestable wp-playergiftcards">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>game name</th>
                      <th>Game’s Sponsor</th>
                      <th>Prize </th>
                      <th>Serial Number</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <h3>22 April, 2018</h3>
                      </td>
                      <td>
                        <span>High 2 Low</span>
                      </td>
                      <td>Walmart</td>
                      <td>
                        <span>$100</span>
                      </td>
                      <td>
                        <span>09834-ah4y-09288kly193</span>
                      </td>
                      <td>
                        <span class="not-used">Not Used</span>
                      </td>
                      <td>
                        <span>
                          <a href="javascript:(0);" class="wp-sellyourcard">Sell your gift card</a>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <h3>22 April, 2018</h3>
                      </td>
                      <td>
                        <span>High 2 Low</span>
                      </td>
                      <td>Walmart</td>
                      <td>
                        <span>$100</span>
                      </td>
                      <td>
                        <span>09834-ah4y-09288kly193</span>
                      </td>
                      <td>
                        <span class="not-used">Not Used</span>
                      </td>
                      <td>
                        <span>
                          <a href="javascript:(0);" class="wp-sellyourcard">Sell your gift card</a>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <h3>22 April, 2018</h3>
                      </td>
                      <td>
                        <span>High 2 Low</span>
                      </td>
                      <td>Walmart</td>
                      <td>
                        <span>$100</span>
                      </td>
                      <td>
                        <span>09834-ah4y-09288kly193</span>
                      </td>
                      <td>
                        <span class="card-used">Used</span>
                      </td>
                      <td>
                        <span>
                          <a href="javascript:(0);" class="wp-sellyourcard wp-usedcardbtn">Sell your gift card</a>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <h3>22 April, 2018</h3>
                      </td>
                      <td>
                        <span>High 2 Low</span>
                      </td>
                      <td>Walmart</td>
                      <td>
                        <span>$100</span>
                      </td>
                      <td>
                        <span>09834-ah4y-09288kly193</span>
                      </td>
                      <td>
                        <span class="card-used">Used</span>
                      </td>
                      <td>
                        <span>
                          <a href="javascript:(0);" class="wp-sellyourcard wp-usedcardbtn">Sell your gift card</a>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--************************************
				Main End
		*************************************-->
    <!--************************************
				Footer Start
		*************************************-->
    <footer id="wp-footer" class="wp-footer wp-haslayout">
      <p class="wp-copyright">© 2018 Winippity</p>
      <nav class="wp-addnav">
        <ul>
          <li>
            <a href="javascript:(0);">terms &amp; condition</a>
          </li>
          <li>
            <a href="javascript:(0);">privacy policy</a>
          </li>
          <li>
            <a href="javascript:(0);">contact us</a>
          </li>
          <li>
            <a href="javascript:(0);">advertise</a>
          </li>
        </ul>
      </nav>
    </footer>
    <!--************************************
				Footer End
		*************************************-->
  </div>

	<script src="../javascripts/vendor/jquery-library.js"></script>
	<script src="../javascripts/vendor/bootstrap.min.js"></script>
	<script src="js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci"></script>
	<script src="../javascripts/scrollbar.min.js"></script>
	<script src="../javascripts/datatables.js"></script>
	<script src="../javascripts/chart.min.js"></script>
	<script src="../javascripts/countto.js"></script>
	<script src="../javascripts/appear.js"></script>
	<script src="../javascripts/main.js"></script>

</body>

</html>