<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <title>Cars Online</title>
    <% include ./partials/header %>
</head>

<body>
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(img/bg-4.png);">        
            <div class="login-box card">
            <div class="card-body">
                <div class="logo-text">
                        
                    </div>
                    <h3 class="box-title m-b-20">Change Password</h3>
                    <span id="error"></span>
                    <div class="form-group ">
                      <div class="col-xs-12">
                        <input class="form-control" id="pass1" type="password" required="" placeholder="Enter new Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <input class="form-control" id="pass2" type="password" required="" placeholder="Confirm New Password" onblur="matchPassword()">
                      </div>
                    </div>
                    <div class="form-group text-center m-t-30">
                      <div class="col-xs-12">
                        <button id="resetButton" class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" onclick="resetPassword()">Reset</button>
                      </div>
                    </div>
            </div>
           
          </div>
        </div>
        
    </section>
    <% include ./partials/footer %>
</body>

</html>