<% include _includes/_header.html %>

  <header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-logoarea loginlog">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <strong class="tg-logo">
              <a href="/">
                <img src="images/logo.png" alt="company logo here">
              </a>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--************************************
				Main Start
		*************************************-->
  <main id="tg-main" class="tg-main paddingzero tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-forgotpassword-area">
          <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 col-lg-5 col-lg-push-4 margin-left">
            <div class="tg-loginformarea">
              <div class="tg-loginformhead">
                <h1>Forgot Password</h1>
                <div class="tg-description">
                  <p>Enter your email below, and we will send you the link to reset your password</p>
                </div>
              </div>

              <div class="tg-formtheme tg-loginform">
                <p id="error" class="error"></p>
                <fieldset>
                  <div class="form-group tg-inputwithicon">
                    <i class="fa fa-envelope"></i>
                    <input type="text" name="name" id="email" class="form-control" placeholder="Enter your Email">
                  </div>
                  <div class="form-group">
                    <button type="submit" id="btnSubmit" class="tg-btn tg-btn-lg" onclick="forgotpassword()">Send</button>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--************************************
				Main End
		*************************************-->
  <!--************************************
				Footer Start
		*************************************-->
  <footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-footerarea">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tg-description">
              <p>Made by
                <strong>Khalis Group</strong> with Love
                <span>looking for Help?</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--************************************
				Footer End
    *************************************-->

  <% include _includes/_footer.html %>