


 <!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/normalize.css">
	<link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="../stylesheets/icomoon.css">
	<link rel="stylesheet" href="../stylesheets/scrollbar.css">
	<link rel="stylesheet" href="../stylesheets/datatables.min.css">
	<link rel="stylesheet" href="../stylesheets/transitions.css">
	<link rel="stylesheet" href="../stylesheets/main.css">
	<link rel="stylesheet" href="../stylesheets/color.css">
	<link rel="stylesheet" href="../stylesheets/responsive.css">
	<script src="../javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body class="wp-loginpage">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="wp-wrapper" class="wp-wrapper">
		<!--************************************
				Main Start
		*************************************-->
		<main id="wp-main" class="wp-main wp-haslayout">
			<div class="wp-loginarea">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="wp-prizesarea">
								<strong class="wp-logo">
									<img src="images/user-dashboard/logob.png" alt="image description">
								</strong>
								<ul class="wp-totalprizeswins">
									<li>
										<div class="wp-states wp-statesgameswin">
											<figure class="wp-gamepadimg"><img src="images/user-dashboard/gamepad-icon.png" alt="image description"></figure>
											<span class="wp-totalgeamplay">346<em>Total games <em>played</em></em></span>
										</div>
									</li>
									<li>
										<div class="wp-states wp-totalprizeswon">
											<figure class="wp-gamepadimg"><img src="images/user-dashboard/ribbon-icon.png" alt="image description"></figure>
											<span class="wp-totalgeamplay">346<em>Total games <em>played</em></em></span>
										</div>
									</li>
								</ul>
								<figure class="wp-numberofprizes">
									<img src="images/user-dashboard/surprise-box.png" alt="image description">
									<figcaption><h3>100's<span>of prizes</span></h3></figcaption>
								</figure>
								<div class="wp-description">
									<p><a href="/signup">create an account</a> to win <span>various prizes</span></p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="wp-welcomearea">
								<h4>welcome</h4>
								<span class="wp-cupicon"><img src="images/user-dashboard/cup-img.png" alt="image description"></span>
										<fieldset>
											<legend>Login to win!!</legend>
											  <p id="error"></p>
											   <div class="form-group">
													<input type="email" id="email" name="email"  class="form-control" placeholder="Email">
												</div>
												<div class="form-group">
													<input type="password" id="password" name="password" class="form-control" placeholder="password">
												</div>
												<div class="form-group">
													<button onclick="userLogin()" class="wp-btn">login</button>
												</div>
											<div class="form-group wp-forgotpassword">
												<button href="javascript:(0);">forgot password</button>
											</div>
										</fieldset>

								<div class="wp-loginwithsocial">
									<span>or login with:</span>
									<ul class="wp-socialicons">
										<form method="POST" action="/faceBookLogin">
										  <button class="wp-facebook"><i class="fa fa-facebook"></i></button>
										 </form>
										 <form method="POST" action="/twitterLogin">
										  <button class="wp-twitter"><i class="fa fa-twitter"></i></button>
								      	</form>
										<form method="POST" action="/googleLogin">
										  <button class="wp-googleplus"><i class="fa fa-google-plus"></i></button>
									    </form>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="wp-footer" class="wp-footer wp-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="wp-copyright">© 2018 Winippity</p>
						<nav class="wp-addnav">
							<ul>
								<li><a href="javascript:(0);">Contact Us</a></li>
								<li><a href="javascript:(0);">Privacy Policy</a></li>
								<li><a href="javascript:(0);">Terms of use</a></li>
								<li><a href="javascript:(0);">Advertise With Us</a></li>
								<li><a href="javascript:(0);">About Us</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	
	<script src="../javascripts/vendor/jquery-library.js"></script>
	<script src="../javascripts/vendor/bootstrap.min.js"></script>
	<script src="js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci"></script>
	<script src="../javascripts/scrollbar.min.js"></script>
	<script src="../javascripts/datatables.js"></script>
	<script src="../javascripts/chart.min.js"></script>
	<script src="../javascripts/countto.js"></script>
	<script src="../javascripts/appear.js"></script>
	<script src="../javascripts/main.js"></script>

</body>
</html>