<% include _includes/_header.html %>
  <% include _includes/_topbar.html %>
    <% include _includes/_sidebar.html %>

      <!--************************************
				Main Start
		*************************************-->
      <main id="tg-main" class="tg-main tg-haslayout">
        <div class="container-fluid">
          <!--************Shipment***************-->
          <div class="tg-profile-area">
            <div class="tg-profile-box">
              <div class="tg-borderbox-area">
                <div class="tg-borderbox">
                  <div class="tg-heading">
                    <h2>Personal Information</h2>
                  </div>
                  <div class="tg-profilecontent-area">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-5">
                        <div class="tg-profileimage-box">
                          <div id="errContainerI" class="errcontainer">
                            <span id="err" class="err-i"></span>
                          </div>
                          <figure>
                            <img src="<%= undefined === user || undefined === user.photoId ? '/images/user.png' : `/uploads/${user.photoId.fileName}` %>"
                              alt="" />
                          </figure>
                          <div class="tg-btnarea">
                            <form enctype="multipart/form-data" action="/profile/uploadImage" method="post">
                              <label class="editpic">
                                <input id="image-file" type="file" name="profilePhoto" accept="image/x-png,image/jpg,image/jpeg" single="single" />
                                <i class="fa fa-pencil"></i>
                              </label>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-7">
                        <div class="tg-profileform-box">
                          <div class="tg-formheading lesspadding">
                            <h2>Edit your profile</h2>
                          </div>
                          <div class="tg-formtheme tg-profileform">
                            <fieldset>
                              <p id="error"></p>
                              <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                  <div class="form-group">
                                    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First Name" value="<%= undefined === user.firstname ? '' : user.firstname %>">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                  <div class="form-group">
                                    <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last Name" value="<%= undefined === user.firstname ? '' : user.lastname %>">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                  <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Email@gmail.com"  value="<%= undefined === user.email ? '' : user.email %>" readonly>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                  <div class="form-group">
                                    <input type="text" name="address" id="address" class="form-control" placeholder="Address" value="<%= undefined === user.address ? '' : user.address %>">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                  <div class="form-group">
                                    <button type="submit" class="tg-btn tg-btn-lg" id="btnSubmit" onclick="updateProfile()">Save Changes</button>
                                  </div>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--************************************
				Main End
    *************************************-->

      <% include _includes/_footer.html %>