<!doctype html>

<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/normalize.css">
	<link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="../stylesheets/icomoon.css">
	<link rel="stylesheet" href="../stylesheets/scrollbar.css">
    <link rel="stylesheet" href="../stylesheets/datatables.css">
	<link rel="stylesheet" href="../stylesheets/transitions.css">
	<link rel="stylesheet" href="../stylesheets/main.css">
	<link rel="stylesheet" href="../stylesheets/color.css">
	<link rel="stylesheet" href="../stylesheets/responsive.css">
	<script src="../javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="wp-loginpage">
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
	<!--************************************
	  Wrapper Start
  *************************************-->
	<div id="wp-wrapper" class="wp-wrapper">
		<!--************************************
		Main Start
	*************************************-->
		<main id="wp-main" class="wp-main wp-haslayout">
			<div class="wp-loginarea">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
							<div class="wp-welcomearea">
								<h4>Enter your new Password</h4>
								<span class="wp-cupicon">
									<img src="../images/user-dashboard/cup-img.png" alt="image description">
								</span>
								<div class="wp-formtheme wp-formlogin">
									<p id="error"></p>
									<fieldset>
										<div class="form-group tg-inputwithicon">
											<i class="fa fa-user"></i>
											<input type="password" id="pass1" name="password" class="form-control" placeholder="password">
											<input type="hidden" id="token" name="token" class="form-control" value=<%= token %> >
										</div>
										<div class="form-group tg-inputwithicon">
											<i class="fa fa-lock"></i>
											<input type="password" id="pass2" name="confirmpassword" class="form-control" placeholder="Confirm Password">
										</div>
										<div class="form-group">
											<button type="submit" id="btnSubmit" class="wp-btn" onclick="resetPassword()">submit</button>
										</div>
									</fieldset>
								</div>

							</div>
							
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
		Main End
	*************************************-->
		<!--************************************
		Footer Start
	*************************************-->
		<footer id="wp-footer" class="wp-footer wp-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="wp-copyright">© 2018 Winippity</p>
					
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
		Footer End
	*************************************-->
	</div>

	<script src="../javascripts/vendor/jquery-library.js"></script>
	<script src="../javascripts/vendor/bootstrap.min.js"></script>
	<script src="js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci"></script>
	<script src="../javascripts/scrollbar.min.js"></script>
	<script src="../javascripts/datatables.js"></script>
	<script src="../javascripts/chart.min.js"></script>
	<script src="../javascripts/countto.js"></script>
	<script src="../javascripts/appear.js"></script>
	<script src="../javascripts/main.js"></script>

</body>

</html>