<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <title>All Ads</title>
    <!-- Bootstrap Core CSS -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Popup CSS -->
    <link href="plugins/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
    <!-- Dropzone css -->
    <link href="plugins/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="css/slick/slick.css" id="theme" rel="stylesheet">
    <link href="css/slick/slick-theme.css" id="theme" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="css/colors/green-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard">
                        <b>
                            <!-- Light Logo icon -->
                            <img src="img/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <span>
                            <!-- Light Logo text -->
                            <img src="img/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="<%= undefined === user || undefined === user.photoId ? '/images/user.png' : `/uploads/${user.photoId.fileName}` %>"
                                    alt="user" class="profile-pic" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <a href="/profile">
                                            <i class="ti-user"></i> My Profile</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/logout">
                                            <i class="fa fa-power-off"></i> Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img">
                        <img src="<%= undefined === user || undefined === user.photoId ? '/images/user.png' : `/uploads/${user.photoId.fileName}` %>"
                            alt="user" />
                    </div>
                    <!-- User profile text-->
                    <div class="profile-text">
                        <h5>
                            <%= undefined === user || undefined === user.username ? '' : user.username %>
                        </h5>
                        <a href="/profile" class="" data-toggle="tooltip" title="Profile">
                            <i class="ti-user"></i>
                        </a>
                        <a href="/logout" class="" data-toggle="tooltip" title="Logout">
                            <i class="ti-power-off"></i>
                        </a>
                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li>
                            <a class="waves-effect waves-dark" href="/dashboard">
                                <i class="icon-layers"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="icon-people"></i>
                                <span class="hide-menu">Users</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="/addUser">Add User</a>
                                </li>
                                <li>
                                    <a href="/viewAllUsers">View All Users</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/addText">
                                <i class="ti-receipt"></i>
                                <span class="hide-menu">Add Text</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/addImages">
                                <i class="icon-picture"></i>
                                <span class="hide-menu">Add Images</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/addVideos">
                                <i class="icon-film"></i>
                                <span class="hide-menu">Add Videos</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="icon-grid"></i>
                                <span class="hide-menu">Ads</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="/createAds">Create Ads</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">View All Ads</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">View All Ads</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item">Ads</li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row el-element-overlay">
                    <% if(allAds ) {%>
                    <% for(var a=0; a< allAds.length; a++) { %>

                    <%   if(allAds[a].videosId && allAds[a].templateId === "temp-1") { %>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <div class="width-50-p">
                                        <video data-set="<%= `/videosFolder/${allAds[a].videosId.fileName}` %>" id="videoSrc-<%= allAds[a]._id %>"
                                            src="<%= `/videosFolder/${allAds[a].videosId.fileName}` %>" alt="user"></video>
                                    </div>
                                    <div class="width-50-p">
                                        <h1 id="title-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.title%>
                                        </h1>
                                        <p id="description-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.description%>
                                        </p>
                                    </div>
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" onclick="copyToViewTemplate1('<%= allAds[a]._id %>')"
                                                    href="javascript:void(0)" data-toggle="modal" data-target="#<%= allAds[a].templateId%>">
                                                    <i class="icon-control-play"></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3>
                                        <%= allAds[a].userId.username%>
                                    </h3>
                                    <div class="action-buttons">
                                        <a class="btn btn-sm waves-effect waves-light btn-info m-r-10" href="/editAd/<%= allAds[a]._id %>">EDIT</a>
                                        <form method="POST" action="/viewAllAds/deleteAd">
                                            <input name="adId" type="hidden" value="<%= allAds[a]._id %>">
                                            <button class="btn btn-sm waves-effect waves-light btn-danger" href="#">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else if (allAds[a].imageId && allAds[a].templateId === "temp-2") {%>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <div class="width-50-p">
                                        <img id="imageSrc2-<%= allAds[a]._id %>" data-set="<%= `/attachments/${allAds[a].imageId.fileName}` %>"
                                            src="<%= allAds[a].imageId ? `/attachments/${allAds[a].imageId.fileName}`: '' %>"
                                            alt="user" />
                                    </div>
                                    <div class="width-50-p">
                                        <h1 id="title-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.title%>
                                        </h1>
                                        <p id="description-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.description%>
                                        </p>
                                    </div>
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" onclick="copyToViewTemplate2('<%= allAds[a]._id %>')"
                                                    href="javascript:void(0)" data-toggle="modal" data-target="#<%= allAds[a].templateId%>">
                                                    <i class="icon-control-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3>
                                        <%= allAds[a].userId.username%>
                                    </h3>
                                    <div class="action-buttons">
                                        <a class="btn btn-sm waves-effect waves-light btn-info m-r-10" href="/editAd/<%= allAds[a]._id %>">EDIT</a>
                                        <form method="POST" action="/viewAllAds/deleteAd">
                                            <input name="adId" type="hidden" value="<%= allAds[a]._id %>">
                                            <button class="btn btn-sm waves-effect waves-light btn-danger" href="#">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else if(allAds[a].textsId && allAds[a].templateId === "temp-3") {%>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <div class="width-50-p w-100-p">
                                        <h1 id="title-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.title%>
                                        </h1>
                                        <p id="description-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.description%>
                                        </p>
                                    </div>
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" onclick="copyToViewTemplate3('<%= allAds[a]._id %>')"
                                                    href="#" data-toggle="modal" data-target="#<%= allAds[a].templateId %>">
                                                    <i class="icon-control-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3>
                                        <%= allAds[a].userId.username%>
                                    </h3>
                                    <div class="action-buttons">
                                        <a class="btn btn-sm waves-effect waves-light btn-info m-r-10" href="/editAd/<%= allAds[a]._id %>">EDIT</a>
                                        <form method="POST" action="/viewAllAds/deleteAd">
                                            <input name="adId" type="hidden" value="<%= allAds[a]._id %>">
                                            <button class="btn btn-sm waves-effect waves-light btn-danger" href="#">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else if(allAds[a].videosId && allAds[a].templateId === "temp-4") { %>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <div class="width-50-p">
                                        <video id="videoSrc-<%= allAds[a]._id %>" data-set="<%= `/videosFolder/${allAds[a].videosId.fileName}` %>"
                                            src="<%= `/videosFolder/${allAds[a].videosId.fileName}` %>" alt="user"></video>
                                    </div>
                                    <div class="width-50-p">
                                        <h1 id="title-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.title%>
                                        </h1>
                                        <p id="description-<%= allAds[a]._id %>">
                                            <%= allAds[a].textsId.description%>
                                        </p>
                                    </div>
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" onclick="copyToViewTemplate4('<%= allAds[a]._id %>')"
                                                    href="#" data-toggle="modal" data-target="#<%= allAds[a].templateId %>">
                                                    <i class="icon-control-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3>
                                        <%= allAds[a].userId.username%>
                                    </h3>
                                    <div class="action-buttons">
                                        <a class="btn btn-sm waves-effect waves-light btn-info m-r-10" href="/editAd/<%= allAds[a]._id %>">EDIT</a>
                                        <form method="POST" action="/viewAllAds/deleteAd">
                                            <input name="adId" type="hidden" value="<%= allAds[a]._id %>">
                                            <button class="btn btn-sm waves-effect waves-light btn-danger" href="#">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else if(allAds[a].imageIds && allAds[a].templateId === "temp-5") { %>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <div class="width-50-p">
                                        <img id="imageSrc-<%= allAds[a]._id %>" data-set="<%= `${JSON.stringify(allAds[a])}` %>"
                                            src="<%= `/attachments/${allAds[a].imageIds[0].fileName}` %>" alt="user">
                                    </div>
                                    <div class="width-50-p">
                                        <h1 id="title-<%= allAds[a]._id %>">
                                            <%= allAds[a].textIds[0].title%>
                                        </h1>
                                        <p id="description-<%= allAds[a]._id %>">
                                            <%= allAds[a].textIds[0].description%>
                                        </p>
                                    </div>
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" onclick="copyToViewTemplate5('<%= allAds[a]._id %>')"
                                                    href="#" data-toggle="modal">
                                                    <i class="icon-control-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3>
                                        <%= allAds[a].userId.username%>
                                    </h3>
                                    <div class="action-buttons">
                                        <a class="btn btn-sm waves-effect waves-light btn-info m-r-10" href="/editAd/<%= allAds[a]._id %>">EDIT</a>
                                        <form method="POST" action="/viewAllAds/deleteAdNewWay">
                                            <input name="adId" type="hidden" value="<%= allAds[a]._id %>">
                                            <button class="btn btn-sm waves-effect waves-light btn-danger" href="#">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else if(allAds[a].imageIds && allAds[a].templateId === "temp-6") { %>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <div class="width-50-p">
                                        <img id="imageSrc-<%= allAds[a]._id %>" data-set="<%= `${JSON.stringify(allAds[a])}` %>"
                                            src="<%= `/attachments/${allAds[a].imageIds[0].fileName}` %>" alt="user">
                                    </div>
                                    <div class="width-50-p">
                                        <h1 id="title-<%= allAds[a]._id %>">
                                            <%= allAds[a].textIds[0].title%>
                                        </h1>
                                        <p id="description-<%= allAds[a]._id %>">
                                            <%= allAds[a].textIds[0].description%>
                                        </p>
                                    </div>
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" onclick="copyToViewTemplate6('<%= allAds[a]._id %>')"
                                                    href="#" data-toggle="modal">
                                                    <i class="icon-control-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3>
                                        <%= allAds[a].userId.username%>
                                    </h3>
                                    <div class="action-buttons">
                                        <a class="btn btn-sm waves-effect waves-light btn-info m-r-10" href="/editAd/<%= allAds[a]._id %>">EDIT</a>
                                        <form method="POST" action="/viewAllAds/deleteAdNewWay">
                                            <input name="adId" type="hidden" value="<%= allAds[a]._id %>">
                                            <button class="btn btn-sm waves-effect waves-light btn-danger" href="#">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else if(allAds[a].imageIds && allAds[a].templateId === "temp-7") {%>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <div class="width-50-p">
                                        <img id="imageSrc-<%= allAds[a]._id %>" data-set="<%= `${JSON.stringify(allAds[a])}` %>"
                                            src="<%= `/attachments/${allAds[a].imageIds[0].fileName}` %>" alt="user">
                                    </div>
                                    <div class="width-50-p">
                                        <h1 id="title-<%= allAds[a]._id %>">
                                            <%= allAds[a].textIds[0].title%>
                                        </h1>
                                        <p id="description-<%= allAds[a]._id %>">
                                            <%= allAds[a].textIds[0].description%>
                                        </p>
                                    </div>
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" onclick="copyToViewTemplate7('<%= allAds[a]._id %>')"
                                                    href="#" data-toggle="modal">
                                                    <i class="icon-control-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3>
                                        <%= allAds[a].userId.username%>
                                    </h3>
                                    <div class="action-buttons">
                                        <a class="btn btn-sm waves-effect waves-light btn-info m-r-10" href="/editAd/<%= allAds[a]._id %>">EDIT</a>
                                        <form method="POST" action="/viewAllAds/deleteAdNewWay">
                                            <input name="adId" type="hidden" value="<%= allAds[a]._id %>">
                                            <button class="btn btn-sm waves-effect waves-light btn-danger" href="#">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } %>
                    <% } %>
                    <% } %>
                </div>


                <!-- video modal -->
                <div class="modal fade modalone" id="temp-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button onclick="pauseVideo1('1')" type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-contentarea">
                                    <button class="nxtbtn">
                                        <i class="ti-arrow-right"></i>
                                    </button>
                                    <div class="row paddingzero">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                            <div class="row">
                                                <div class="modalcontent-box">
                                                    <div class="titel">
                                                    </div>
                                                    <div class="text-box">
                                                        <h3 id="title11"></h3>
                                                        <p id="des11"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                                            <div class="row">
                                                <div class="video-box">
                                                    <figure>
                                                        <!-- <video id="videoSrc1" src="" alt="image description"></video> -->
                                                        <iframe id="videoSrc1" src="" webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- marketing modal -->
                <div class="modal fade modaltwo" id="temp-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-contentarea">
                                    <div class="row paddingzero">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="row">
                                                <div class="img-box">
                                                    <figure>
                                                        <img id="imageSrc22" src="" alt="image description">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="row">
                                                <div class="modalcontent-box">
                                                    <div class="modalcontent-boxholder">
                                                        <div class="text-box">
                                                            <h2 id="title22"></h2>
                                                            <p id="des22"></p>
                                                            <figure class="modal-logo">
                                                                <img src="img/carsonline-logo.png" alt="image description">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- marketing modal -->
                <div class="modal fade modalthree" id="temp-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-contentarea">
                                    <div class="tg-modalbox">
                                        <div class="modalcontent-box">
                                            <strong class="tg-logo">
                                                <img src="img/carsonline-logo.png" alt="image description">
                                            </strong>
                                            <div class="text-box">
                                                <h3 id="title33"></h3>
                                                <div class="description">
                                                    <p id="des33"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                <!-- marketing modal -->
                <div class="modal fade modalone modalfour" id="temp-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button onclick="pauseVideo1('2')" type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-contentarea">
                                    <button class="nxtbtn">
                                        <i class="ti-arrow-right"></i>
                                    </button>
                                    <div class="row paddingzero">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                            <div class="row">
                                                <div class="modalcontent-box">
                                                    <div class="titel">
                                                    </div>
                                                    <div class="text-box">
                                                        <h3 id="title44"></h3>
                                                        <p id="des44"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 ctemp-55ol-sm-12 col-md-6 col-lg-8">
                                            <div class="row">
                                                <div class="video-box">
                                                    <figure>
                                                        <iframe id="videoSrc44" src="" webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade modalone modalsix" id="temp-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-contentarea">
                                    <button class="nxtbtn"><i class="ti-arrow-right"></i></button>
                                    <div class="row paddingzero">
                                        <div class="at-slidercontentholder">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                                <div class="row">
                                                    <div class="modalcontent-box">
                                                        <div class="text-box">
                                                            <h3 id="popupTitle5">BRAND NAME AND HEADING<span>OVER HERE</span></h3>
                                                            <p id="popupdescription5">Cras ultricies ligula sed magna.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                                                <div class="row">
                                                    <div class="video-box">
                                                        <div id="at-imagesliders" class="at-imagesliders at-imagessliders">


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade modalone modalseven" id="temp-6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-contentarea">
                                    <button class="nxtbtn"><i class="ti-arrow-right"></i></button>
                                    <div class="row paddingzero">
                                        <div class="at-slidercontentholder">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                                <div class="row">
                                                    <div class="modalcontent-box">
                                                        <div id="at-textalider" class="at-textalider at-slidertext">
                                                            <div class="at-textholder">
                                                                <div class="text-box">
                                                                    <h3 id="popupTitle6">BRAND NAME AND HEADING</h3>
                                                                    <p id="popupdescription6">Cras ultricies ligula sed
                                                                        .</p>
                                                                </div>
                                                            </div>
                                                            <div class="at-textholder">
                                                                <div class="text-box">
                                                                    <h3 id="popupTitle66">BRAND NAME AND HEADING</h3>
                                                                    <p id="popupdescription66">Cras ultricies ligula
                                                                        sed
                                                                        .</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                                                <div class="row">
                                                    <div class="video-box">
                                                        <figure class="at-sliderimg">
                                                            <img id="img666" src="" alt="image description">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <div class="modal fade modalone modalseven" id="temp-7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-contentarea">
                                    <button class="nxtbtn"><i class="ti-arrow-right"></i></button>
                                    <div class="row paddingzero">
                                        <div class="at-slidercontentholder">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                                <div class="row">
                                                    <div class="modalcontent-box">
                                                        <div id="at-textalider-two" class="at-textalider at-slidertext at-textalider-two">
                                                            <div class="at-textholder">
                                                                <div class="text-box">
                                                                    <h3 id="popupTitle7">BRAND NAME AND HEADING<span></span></h3>
                                                                    <p id="popupdescription7">Cras ultricies ligula
                                                                        sed.</p>
                                                                </div>
                                                            </div>
                                                            <div class="at-textholder">
                                                                <div class="text-box">
                                                                    <h3 id="popupTitle77">TEMPLATE NAME AND HEADING<span></span></h3>
                                                                    <p id="popupdescription77">Cras ultricies ligula.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                                                <div class="row">
                                                    <div class="video-box">
                                                        <div id="at-imagesliders-two" class="at-imagesliders at-imagessliders">
                                              
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
        </div>
       
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2018 CarsOnline</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    </div>
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/popper.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="js/waves.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <script src="plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="plugins/slick/slick.js"></script>
    <script src="plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script src="plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
    <script src="plugins/dropzone-master/dist/dropzone.js"></script>
    <script src="plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="/js/main.js"></script>
    <script>
        $('.ss-slider').slick({
            rows: 2,
            slidesPerRow: 6,
            infinite: false,
            nextArrow: '<i class="slick-next fa fa-arrow-right"></i>',
            prevArrow: '<i class="slick-prev fa fa-arrow-left"></i>',
            responsive: [
                {
                    breakpoint: 640,
                    settings: {
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                    }
                }
            ]
        });
    </script>
</body>

</html>