/*==========================================================================================
								Primery Theme Colors										
==========================================================================================*/
/*=============================================
			Theme Text Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.wp-stars span:after,
.wp-closenav,
.wp-pagetitle h1,
.wp-adminname h3,
.wp-dashboardnav ul li a:hover span,
.wp-countercontent h3,
.wp-dbboxtittle h3,
.wp-addnav ul li:hover a,
.wp-dashboardnav ul li.wp-active a span,
.wp-gamename h4,
.sub-menu li:hover a,
.sub-menu li.wp-active a


{ color: #123ea8; }
/*=============================================
			Theme Background Color
=============================================*/
.wp-dropdowarrow,
.navbar-toggle,
.wp-notifications:after,
.wp-bottomarea,
.wp-gamestatstabs li:hover a,
.wp-gamestatstabs li.active a,
.wp-moreplayer,
.wp-btn,
.wp-btnedit


{ background:#123ea8; }
.wp-btn:hover{
	box-shadow:
	0 14px 26px -12px rgba(23, 105, 255, 0.42),
	0 4px 23px 0 rgba(0, 0, 0, 0.12),
	0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
/*=============================================
			Theme Border Color
=============================================*/
input:focus,
.select select:focus,
.form-control:focus,
.wp-gamestatstabs li a,
.wp-select select:focus



{ border-color: #123ea8; }
/*==========================================================================================
								Secondary Theme Colors										
==========================================================================================*/
/*=============================================
			Theme Text Color
=============================================*/
.wp-dashboardnav ul li a:hover i,
.wp-counter .wp-countericon,
.wp-dashboardnav ul li.wp-active a i,
.wp-gameprize:before


{ color: #f26522; }
/*=============================================
			Theme Background Color
=============================================*/
.wp-totalstars


{ background:#f26522; }
/*=============================================
			Theme Border Color
=============================================*/
.wp-adminimg,
.wp-uploadfile label


{ border-color: #f26522; }