*:after,
*:before,
p a,
a,
.wp-socialicons li a,
.wp-roundicontext,
.wp-roundicontext .wp-usericonholder,
.sub-menu,
.mega-menu,
.wp-dropdownmenu,
.wp-dashboardnav ul li a,
.wp-dashboardnav ul li a i,
.wp-dashboardnav ul li a span,
.wp-closenav,
.wp-sidebarwrapper,
.wp-wrapper,
.wp-dbdashboardheader,
.wp-adminimg,
.wp-sponser



















{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.wp-sidebarwrapper{
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
}
