<!--************************************
				sidebar Start
		*************************************-->
<aside id="tg-sidebarwrapper" class="tg-sidebar">
  <div class="tg-sidebarnavarea">
    <div class="tg-logoarea">
      <strong class="tg-logo">
        <a href="/dashboard">
          <img src="/images/logo.png" alt="">
        </a>
      </strong>
    </div>
    <div class="navarea tg-nicescrollbar">
      <ul class="navlist">


        <!-- <li class="active">
          <a href="/dashboard">
            <i class="fa fa-th-large"></i>Dashboard</a>
        </li>
    -->
        <li class="" id="dashboard">
          <a href="/dashboard">
            <i class="fa fa-th-large"></i>Dashboard</a>
        </li>

        <li class="" id="profile">
          <a href="/profile" onclick="activeLink()">
            <i class="flaticon-forum-user"></i>Profile</a>
        </li>

      </ul>
    </div>
    <!-- <div class="tg-logoutarea">
      <form action="/logout" method="GET">
        <button type="submit" class="tg-logoutbtn">
          <i class="flaticon-power-button"></i></button>
      </form>

    </div> -->
  </div>
  <!-- <div class="tg-goalsarea">
    <div class="charttitle">
      <span>Monthly Goals</span>
      <span class="float">$10.200</span>
    </div>
    <div id="chart"></div>
  </div> -->
</aside>
<!--************************************
				sidebar End
    *************************************-->
<script>

  var urlPath = location.pathname
  urlPath = urlPath.split('/')
  console.log(urlPath)
  if (urlPath[1] === 'addshipment') {
    var shipment = document.getElementById('shipment')
    shipment.classList.add("active")
 
  } else if (urlPath[1] === 'editshipment') {
    var forms = document.getElementById('forms')
    forms.classList.add("active");
 
  }else if(urlPath[1] === 'shipmentform'){
    var forms = document.getElementById('forms')
    forms.classList.add("active");
 
  } else if (location.pathname === '/dashboard') {
    var dashboard = document.getElementById('dashboard')
    dashboard.classList.add("active");
  
  } else if (location.pathname === '/shipment') {
    var shipment = document.getElementById('shipment')
    shipment.classList.add("active");

  } else if (location.pathname === '/forms') {
    var forms = document.getElementById('forms')
    forms.classList.add("active");

  } else if (location.pathname === '/adduser') {
    var adduser = document.getElementById('adduser')
    adduser.classList.add("active");
 
  } else if (location.pathname === '/profile') {
    var profile = document.getElementById('profile')
    profile.classList.add("active");
  }





</script>